<!DOCTYPE html>
<html lang="en">
<head>
    <title>JukeBot</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="input-container">
        <h1 id="JukeBotHeader">🕺JukeBot🕺</h1>
        Hey there! Tell me the vibe, and I'll craft the perfect playlist for you!
        <textarea id="mainTextBox" placeholder="Type your desired playlist vibe..."></textarea>
        <button id="submitBtn">Submit</button>

        <p id="output"></p> <!-- Display captured text -->
    </div>

    <!-- Load JavaScript -->
    <script src="../js/index.js"></script>

</body>

</html>
