<!DOCTYPE html>
<html lang="en">
<head>
    <title>JukeBot</title>
    <!-- Load css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <div class="input-container">
        <h1 id="JukeBotHeader">🕺JukeBot🕺</h1>
        Hey there! Tell me the vibe, and I'll craft the perfect playlist for you!
        <textarea id="mainTextBox" placeholder="Type your desired playlist vibe..."></textarea>
        <button id="submitBtn">Submit</button>

        <!--Show a loading spinner while waiting for Ollama response-->
        <div class="loading-spinner" style="display: none;"></div>

        <!-- Display Ollama response -->
        <p id="output"></p>
    </div>

    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>
