<!DOCTYPE html>

<html lang="en">

<head>
    <title>JukeBot</title>
    <!-- Load css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div style="position: absolute; top: 0; left: 0; width: 100px; text-align:left;">
        <strong> 🕺JukeBot🕺 </strong>
    </div>
    <div style="position: absolute; top: 0; right: 0; width: 100px; text-align:right;">
        <p><a href="{{ url_for('login') }}">Login</a></p>
    </div>
    <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        <div>
            <h1>Login</h1>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" required/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required/>
        </div>
        <div>
            <input type="submit" value="login"/>
        </div>
        <input type="hidden" name="operation" value="login"/>
        <div>
            <p><a href="{{ url_for('create_account') }}">Create an Account</a></p>
        </div>
        <div>
            <p><a href="{{ url_for('static', filename='js/index.js') }}">Continue as Guest</a></p>
        </div>
    </form>
</body>

</html>
